.position-relative {
    position: relative;
}

.btn-toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-toggle-password i {
    font-size: 1.25rem;
}